<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2
## DataScienceEcosystem

# Exercise 3
## Introduction
This is for the peer-graded assignment of IBM course "Tools for Data Science".

# Exercise 4
## Data science languages
R, SQL, Java, Julia, Scala, Python, C, C++, JavaScript

# Exercise 5
## Data science libraries
pandas, NumPy, Scikit-learn, Seaborn, TensorFlow, PyTorch, SciPy, Plotly

# Exercise 6
## Data science tools

In [6]:
import pandas as pd
data = {"data science tools":["Tableau", "Jupyter Notebook", "Hadoop", "MySQL", "R Stuido", "Google Analytics"]}
df = pd.DataFrame(data)
print(df)

  data science tools
0            Tableau
1   Jupyter Notebook
2             Hadoop
3              MySQL
4           R Stuido
5   Google Analytics

# Exercise 7
## Arithmetic expression examples

In [2]:
(2+6)*15-(7*19)

-13

# Exercise 8
multiply and add numbers

In [4]:
a = 2
b = 15
c = 6
x = (a+b)*c
print(x)

102

# Exercise 9
Convert minutes to hours

In [20]:
print('Input minutes:')
x = input()
y = int(x)/60
print('It is ' + str(y) + ' hours')

Input minutes:

 30

It is 0.5 hours

# Exercise 10
list Objectives

1. List data science languages
2. List data science libraries
3. Create a  table of Data Science tools
4. Introduce arithmetic expression examples
5. Show math of multiply and add numbers
6. Convert minutes to hours

# Exercise 11
Indicate the Authorâ€™s name

In [23]:
print("The Author's name is Kexin Jiao")

The Author's name is Kexin Jiao